<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190177585008-rir69uhrbdk4qptg5a7it71r0itfoloh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190177585008-rir69uhrbdk4qptg5a7it71r0itfoloh</string>
	<key>API_KEY</key>
	<string>AIzaSyCdFRO7D3Au4HR_QChA8s9e6KUMzacq7r0</string>
	<key>GCM_SENDER_ID</key>
	<string>190177585008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendchat</string>
	<key>PROJECT_ID</key>
	<string>frandchat</string>
	<key>STORAGE_BUCKET</key>
	<string>frandchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190177585008:ios:e1f5ba7a3311221ebc11b5</string>
</dict>
</plist>